*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
 
a{

    text-decoration: none;

}

img {

    max-width: 100%;

}


.ms_side {

    background-color: #0f263d;
    height: 100vh;

}


.ms_topbody {

    background-color:#1b72e8;
    /* DEBUG */
    height: 200px;
}